.activeReaders {
  max-width: 400px;
}

.readerStats {
  width: 100%;
  max-width: 300px;
  bottom: 100px;
  left: -30%;
}

.postImgBig {
  object-fit: cover;
}

.postShortCard {
  border-bottom: 1px solid #6f1ab6;
}

.postShortCard-img {
  max-width: 200px;
  height: 150px;
  object-fit: cover;
}

.postShortCard-cont {
  gap: 20px;
}

.postShortCard .categoryLabel {
  font-size: 12px;
}

.postShortCard .postDate {
  font-size: 12px;
}


.twoColumnImgContent{
  margin-left: -100px!important;
}

.twoColumnLeftImg img{
  width: 100%;
}

@media (max-width: 768px) {
  .twoColumnImgContent{
    margin-left: 0px!important;
    text-align: center;
  }

  .twoColumnLeftImg img{
    width: auto;
    max-height: 250px;
  }

  .readerImg{
    width: 50%;
  }

  .readerStats {
    width: 50%;
    bottom: 20px;
    left: 0;
  }
}